<section class="">
  <ul class="flex flex-col gap-20">

  </ul>
  <div class="container">
    <% @users.each do |user| %>
    <div class="row mb-4">
    <div class="col-sm-2">
      <img class="img-thumbnail" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="User" />
    </div>
    <div class="col-sm border">
      <h2 class="font-weight-bold display-2"><%= user.name %></h2>
      <span class="float-right">Number of posts: <%= user.posts.length %></span>
    </div>
  </div>
  <% end %>
</div>
</section>
