<section class="">
  <div class="container">
    <% @users.each do |user| %>
    <div class="row mb-4">
    <div class="col-sm-2">
      <img class="img-thumbnail" src="<%= user.photo %>" alt="User" />
    </div>
    <div class="col-sm border">
      <h2 class="font-weight-bold display-2"><%= user.name %></h2>
      <span class="float-right">Number of posts: <%= user.posts.length %></span>
    </div>
  </div>
  <% end %>
</div>
</section>
