<div class="">
  <%= form_with model: comment, url: user_post_comments_path(post_id: params[:id]) do |form| %>
    <div class="d-flex justify-content-around">
      <div class="form-group w-50">
        <%= form.text_area :text, class: 'form-control ', placeholder: 'Your comment...', required: true, rows: 3%>
        <% if can? :destroy, comment %>
          <%= button_to "🗑", user_post_comment_path(user_id: comment.author.id, post_id: comment.post.id, id: comment.id), method: :delete, class: ''  %>
        <% end %>
        
      </div>
      <div class="w-25 d-flex align-items-center ">
        <%= form.submit "Comment", class: 'btn btn btn-info w-75' %>
      </div>
    </div>
  <% end %>
</div>
