<div class="">
  <%= form_with model: comment, url: user_post_comments_path(post_id: params[:id]) do |form| %>
    <div class="d-flex justify-content-around">
      <div class="form-group w-50">
        <%= form.text_area :text, class: 'form-control ', placeholder: 'Your comment...', required: true, rows: 3%>
      </div>
      <div class="w-25 d-flex align-items-center ">
        <%= form.submit "Comment", class: 'btn btn btn-info w-75' %>
      </div>
    </div>
  <% end %>
</div>
